@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-SemiBold.woff2') format('woff2'),
        url('MartianMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-ExtraBold.woff2') format('woff2'),
        url('MartianMono-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-ExtraBold.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-Light.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-Bold.woff2') format('woff2'),
        url('MartianMonoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-Thin.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-Light.woff2') format('woff2'),
        url('MartianMonoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-SemiBold.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-Thin.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-Light.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-ExtraLight.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-Medium.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-Regular.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-Bold.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-Light.woff2') format('woff2'),
        url('MartianMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-Regular.woff2') format('woff2'),
        url('MartianMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-Bold.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-Medium.woff2') format('woff2'),
        url('MartianMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('MartianMonoSemiExpanded-Medium.woff2') format('woff2'),
        url('MartianMonoSemiExpanded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-ExtraLight.woff2') format('woff2'),
        url('MartianMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-SemiBold.woff2') format('woff2'),
        url('MartianMonoCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-Medium.woff2') format('woff2'),
        url('MartianMonoCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-ExtraLight.woff2') format('woff2'),
        url('MartianMonoCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('MartianMono-Bold.woff2') format('woff2'),
        url('MartianMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiCondensed';
    src: url('MartianMonoSemiCondensed-SemiBold.woff2') format('woff2'),
        url('MartianMonoSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-Regular.woff2') format('woff2'),
        url('MartianMonoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-ExtraBold.woff2') format('woff2'),
        url('MartianMonoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono Condensed';
    src: url('MartianMonoCondensed-Thin.woff2') format('woff2'),
        url('MartianMonoCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

